<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vueo1</title>
		<!-- 用下面这个模态化窗口弹不出来 只能用在线的-->
	<!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="jquery3.2.1.js"></script>
	<!-- // <script src="https://cdn.bootcss.com/popper.js/1.11.1/popper.js"></script> -->	
	<!-- bootstrap.min.js只能用在线的，不然会报popper不存在 -->
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script src="vue.min.js"></script>
	<script>
	window.onload=function(){
		console.log("ddd");
		//配置上线不允许vue检测
		Vue.config.devtools=true;
		var v=new Vue({
			el:"#div1",//jq方式选择器  指定关联的元素
			data:{ //存储数据
				users:[{"name":"小张","age":"22","email":"333@qq.com"},{"name":"小李","age":"42","email":"555@qq.com"}],
				user:{},
				nowIndex:-1
			},
			methods:{
				addUser(){
					console.log(this.user);
/*					if(this.user.name.length>0 && this.user.age.length>0 && this.user.email.length>0){
						this.users.push(this.user);
						this.user={};
					}else{
						alert("不能有空数值呢！");
					}*/
					this.users.push(this.user);
					this.user={};
					
				},
				reset(){
					this.user={};
				},
				deletes(){
					alert("不能有空数值呢！");
					/*if(this.nowIndex===-1){
						this.users={};
					}else{
						this.users.splice(this.nowIndex,1)
					}*/
				}
			}
		});

		
	}
	
	</script>
</head>
<body>
	<div id="div1" class="container">
		<h2 class="text-center">用户添加</h2>
		<form action="" class="form" >
			<div class="text-center"><label for="" class="text-right col-xs-4">用户名:</label><input type="text" name="name" v-model="user.name" class="text-left col-xs-8" ></div>
			<div class="text-center"><label for="" class="text-right col-xs-4" >年龄:</label><input type="text" name="age" v-model="user.age" class="text-left col-xs-8"></div>
			<div class="text-center"><label for="" class="text-right col-xs-4">邮箱:</label><input type="text" class="text-left col-xs-8" v-model="user.email" name="email"></div>
			<div class="text-center"><input type="button" class="btn" v-on:click="addUser()" value="添加"><input type="button" class="btn" v-on:click="reset()" value="重置"></div>
		</form>
		<hr>
		<h2 class="text-center">用户删除</h2>
		<table class="table table-border">
			<thead>
				<tr>
					<th>序号</th>
					<th>用户名</th>
					<th>年龄</th>
					<th>邮箱</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(user,index) in users">
					<td >{{index+1}}</td>
					<td >{{user.name}}</td>
					<td >{{user.age}}</td>
					<td >{{user.email}}</td>
					<td ><button type="button" data-toggle="modal" data-target="#myModal" v-on:click="nowIndex=index;alert(nowIndex);">删除</button></td>
				</tr>
				<tr><td colspan="5" class="text-right"><button class="w" data-toggle="modal" data-target="#myModal" v-on:click="nowIndex=-1;alert(nowIndex);">删除所有</button></td></tr>
			</tbody>
			
		</table>
 

</div> 
<!-- 模态框（Modal） -->
<!-- 有问题，放在这里和上面联系不起来，放在上面div里导致页面不显示 -->
		<div class="modal fade" id="myModal" >
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">提示</h4>
		            </div>
		            <div class="modal-body text-center" v-show="nowIndex !== -1)">确定要删除{{users[nowIndex]?users[nowIndex].name:"";}}此项吗？</div>
		            <div class="modal-body text-center" v-show="nowIndex === -1">确定要删除所有项吗？</div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		                <button type="button" class="btn btn-primary"  data-dismiss="modal" v-on:click="alert(nowIndex)">提交更改</button>
		            </div>
		        </div>
		    </div>
		</div>	

</body>
</html>