<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vueo1</title>
	<script src="vue.min.js"></script>
	<style type="text/css">
	.aa{
		color: red;
	}
	.bb{
		background: green;
	}
	[v-clock]{
		display: none;
	}
	</style>


</head>
<body>
	<div id="div2">
		<!-- on事件 方法后面的()可以不要 -->
		<button v-on:click="show()">vue点击</button>
		<button onclick="javascript:shows()">原始点击</button>
		<!-- if show -->
		<button v-on:click="flag=!flag">if show</button>
		<button v-on:click="change">if show</button>
		<!-- 绑定 -->
		<div class="div1" v-show="flag">{{username}}
		<!-- 双向绑定，修改的时候会更新到使用的地方v-model -->
		<input type="text" v-model="username">
		{{username}}
		</div>
		<br>
		<ul>
			<!-- 循环 对象数组方法一样-->
			<li v-for="value in arr">{{value}}</li>
		</ul>
		<ul>
			<!-- 循环获得索引和值 对象数组方法一样  key属性绑定唯一key,更新元素时可重用元素，提高效率-->
			<li v-for="(v,k) in arr2" :key="k">{{k}}--{{v}}</li>
		</ul>
		<ul>
			<!-- 循环 对象数组方法一样  index索引值-->
			<li v-for="(value,index) in arr">{{index}}--{{value}}</li>
		</ul>
		<!-- v-bind绑定数据后可以直接访问view中的数据，简写为:    -->
		<img :src="url" :width="w" :height="h">
		<!-- 绑定class和style方法不一样，复杂点 json格式，true表示应用，false表示不应用-->
		<!-- 获得事件对象，动作函数里要传递全局事件$event @click后面加.stop阻止冒泡.prevent默认行为，比原生的在函数里加e.stopPropatation()方便  keydown.13或者keydown.enter-->
		<p :class="{aa:false,bb:true}" @click="cons($event)">绑定类方法json方法</p>
		<!-- v-clock要设置css属性display:none 加载完成后就会显示了 v-text v-html v-once一次,v-pre不编译显示{{msg}}原始形态-->
		<h3> aaa<span v-clock>bbb先不显示，等加载完成后才显示</span></h3>
		<!-- 双向绑定v-model  单向绑定{{}} -->
		<!-- 过滤器 语法  {{data|filter1(参数)|filter2(参数)  2.0删除了内置过滤器，只能用第三方工具库或者自定义
		全局自定义过滤器

		-->
		<h3>{{8|addZero}}</h3>
		<h3>{{5.24433565|fourFive(2)}}</h3>

		<!-- vue的八个生命阶段created用得比较多一点 
		计算属性computed 对数据进行处理后再显示。要是一个函数
		基于依赖更新的，只有有相关依赖发生改变时才能更新变化;计算属性是
		有缓存的，只要相关依赖没有改变，多次访问之前结果不用多次执行，所以
		不用普通加一个方法来代替computed  get set二部分组成

		vue实用属性和方法  vm.$el $data $options获取自定义属性 $refs获取添加了refs属性的元素
		方法 vm.$mount("#div1")  $destrop $nextTick在DOM更新完成后再执行回调函数，在数据修改后使用 $set delete watch
		-->
		<h2>计算属性{{msg2}}</h2>
		<h2>计算属性{{msg2.split(" ").reverse().join(" ")}}</h2>
		<h2>计算属性{{reverseMsg}}</h2>
		<input type="text" v-model="msg">
		{{msg}}
	</div>
</body>
	<script>
	Vue.filter('addZero',function(data){
		return data<10?"0"+data:data;
	});
	Vue.filter('fourFive',function(data,n){
/*		var data10=data*(Math.pow(10,n));
		var data10Str=data10.toString();
		var data10StrDot=data10Str.indexOf(".");
		var bigger5=data10Str.slice(data10StrDot+1,data10StrDot+2);
		var data10Tmp=Math.floor(data10)
		return data10=bigger5>=5?(data10Tmp+1)/100:data10Tmp/100;*/
/*		var data10=data*(Math.pow(10,n));
		var data10Str=data10.toString();
		var data10StrDot=data10Str.indexOf(".");
		var bigger5=data10Str.slice(0,data10StrDot+2);
		var data10Tmp=Math.round(bigger5)
		return data10Tmp/100;*/
		return Math.round(data*Math.pow(10,n))/Math.pow(10,n);

	})
	console.log("ddd");
	//配置上线不允许vue检测
	Vue.config.devtools=true;
	var v=new Vue({
		el:"#div2",//jq方式选择器  指定关联的元素
		data:{ //存储数据
			username:"张三",
			arr:[2,3,5,22,23],
			arr2:{"name1":"111","name2":"2222"},
			flag:true,
			url:"https://www.baidu.com/img/bd_logo1.png",
			w:"100px",
			h:"100px",
			msg:"msg 1111"
		},
		methods:{
			show:function(){
				//这个对象里的this是等于v的，代表同一个对象实例，调用基本的方法都要加this
				console.log("点击了");
				this.arr.push(333);
			},
			change(){
				this.flag=!this.flag;
			},
			cons(e){
				console.log(e.target.innerHTML);//e.target是dom对象
			}
		},
		created:function(){//创建时，还没完全加载完
			// alert("ddd");
		},
		computed:{
			msg2:function(){
				return "msg2 computed";
			},
			reverseMsg:function(){
				return this.msg.split(" ").reverse().join(" ");
			}
		}
	});
	console.log(v.$el);
	v.$watch("msg",function(news,old){
		console.log("新值"+news+",老值"+old);
	})
	//原始onclick方法
	function shows(){
		console.log("原始方法点击1");
	}
	</script>
</html>